/* LOG AREA */
.log-and-execution-area {
    display: flex;
}

.log-area div {
    width: 30vw;
}

#tree {
    background-color: var(--full-drawing-background);
}

/* CODING AREA */
.coding-area {
    width: 60vw;
    margin: 0 2vw;
}


/* ACTUAL LAMBDA TERM AREA */
.actual-term {
    margin-top: 2.5rem;
}

.actual-term div {
    width: 40vw;
    min-height: 10vh;
    padding: 0.4rem;
    color: var(--error-font-color);
    background-color: var(--textarea-background);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/* TREE VISUALIZATION AREA */
.tree-visualization {
    width: 40vw;
}

.tree-visualization h2 {
    margin: 0;
}

#tree-wrapper, #tree {
    width: 30vw;
    height: 100%;
}

/* ======> SETTINGS FOR CELLPHONES <====== */
@media screen and (max-device-width:800px) {
    .content {
        display: inline;
    }

    .log-and-execution-area {
        display: inline;
    }

    .log-area {
        margin: 0 2vw;
    }

    .log-area div {
        width: 84vw;
    }

    .tree-visualization {
        margin: 0 2vw;
        width: 90vw;
    }
}

.drawing-variable-bg, .drawing-lambda-bg, .drawing-non-redex-app-bg {
    fill: var(--default-drawing-background);
}

.drawing-redex-app-bg {
    fill: var(--redex-drawing-background);
    stroke: var(--redex-drawing-border);
}

.drawing-variable-text {
    fill: var(--drawing-variable-color);
}

.drawing-lambda-text {
    fill: var(--drawing-lambda-color);
}

.drawing-non-redex-app-text {
    fill: var(--drawing-non-redex-at-color);
    font-weight: bold;
}

.drawing-redex-app-text {
    fill: var(--drawing-redex-at-color);
    font-weight: bold;
}

.drawing-lambda-line, .drawing-redex-app-line, .drawing-non-redex-app-line {
    stroke: var(--drawing-line-color);
}

.drawing-redex-app-text, .drawing-redex-app-bg {
    cursor: pointer;
}
